main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
}

.list-group-item {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border-color: #dee2e6;
}

.table thead th {
    font-weight: bold;
}