
:root {
    --color-primary: #000000;     
    --color-btn-background: #1E90FF; 
    --color-accent-blue: #00FFFF; 
    --color-accent-green: #39FF14; 
}


body {
    margin: 0;
    background-color: #1A1A1A;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    color: var(--color-accent-blue);
}

#titulo {
    color: #000000;
    font-family: 'Orbitron', sans-serif;
}

a {
    text-decoration: none;
}

#sidebar-container {
    min-height: 100vh;
    border: 1px solid;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}



.bg-primary {background-color: whitesmoke !important;}

.img-logo {
    align-items: flex-end;
    height: 45px;
    width: 45px;
}


hr {
    border-color: #000000;
}



.btn{
    background-color: var(--color-btn-background);
    border-color: var(--color-btn-background);
    color: var(--color-accent-green);
}